<?xml version="1.0"?>
<launch>
    <!-- <arg name="map_file" default="$(find husky_navigation)/maps/my_map.yaml"/> -->
    <arg name="map_file" default="/home/xia0ben/catkin_ws/src/namo_navigation/maps/01.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
</launch>
